<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./../../static/css/login.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TipShip Login</title>
</head>
<body>
    <nav>
        <h3 class="nav-item color" id="home"><a href="/" class = "color">Home</a></h3>
        <h3 class="nav-item"><a href="/about" class = "color">About</a></h3>
    </nav>
    
    <div class="form-box">
        <form action="" method="POST" class="form-box" action="/login/">
            {% csrf_token %}
            <br>
            <h1 id="title-desc">TipShip</h1>
            <p id="login-desc">Login to your account!</p>
            {{ login.username }}
            <br>
            {{ login.password }}
            <br>
            <input type="submit" name="login" value="Login" id="submit">
            <a href="/signup" class="link">Create an Account</a>
            <br>
        </form>
    </div>
</body>
</html>