@import url(https://fonts.googleapis.com/css?family=Rosario:400&subset=latin,latin-ext);
body {
    box-sizing: border-box;
    padding: 15px;
    margin: 15px;
    background: url("images/Sunset.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffff;
    font-family: 'Rosario';
}

.nav-item {
    font-size: 30px;
    margin-right: 20px;
    margin-left: 10px;
    display: inline;
}

.color {
    text-decoration: none;
    color: #ffff;
}

.form-box{
    width: 400px;
    height: 400px;
    position: relative;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #1F2833;
    opacity: 0.9;
    border-radius: 25px;
}

#title-desc{
    font-size: 50px;
}
#login-desc {
    font-size: 30px;
    margin-top: -20px;
}

input{
    max-width: 300px;
    margin-bottom: 10px;
    padding: 10px 50px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}

#submit{
    max-width: 300px;
    margin-bottom: 10px;
    padding: 8px 118px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}

.link {
    display:block;
    text-decoration: none;
    color: #ffff;
}

#disc {
    margin-top: 10vh;
    padding: 7.5px 27.5px;
    border-style: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
    background-color: #5865F2;
    border-radius: 20px;
    transition: 0.3s;
}

#disc:hover {
    background-color: #7880db;
    cursor: pointer;
    border-radius: 2.5px;
}