<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./../../static/css/landing.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TipShip Landing</title>
</head>
<body>
    <nav>
        <h3 class="nav-item color" id="home"><a href="#" class = "color">Home</a></h3>
        <h3 class="nav-item"><a href="/about" class = "color">About</a></h3>
    </nav>

    <div class="center">
        <h1 id="main-name">TipShip</h1>
        <h3>Pay your friends with just a Discord command!</h3>
        <button id="discover" onclick="location.href = '/login'">Discover</button>
    </div>
</body>
</html>