<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./../../static/css/dashboard.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TipShip Landing</title>
</head>
<body>
    <div class="wrapper">
        <div class="webtitle">
            <h1>TipShip</h1>
        </div>

        <div class="pfp">
            <img src="./../../static/css/images/Sunset.png" alt="Profile picture here">
        </div>

        <div class="recenttrans">
            <h1 class="header">Recent Transactions</h1>
            <div class="transscreen">
                <div class="users">
                    <div class="userpfp vcenter"><img src="./../../static/css/images/Sunset.png" alt="pfp"></div>
                    <div class="vcenter">USERNAME</div>
                    <div class="vcenter">MONEY</div>
                </div>   
            </div>  
        </div>

        <div class="spending">
            <h1 class="header">Your Spendings</h1>
            <p>Graph Here</p> 
        </div>

        <div class="frequent">
            <h1 class="header">Your Most Frequent People</h1>
            <div class="freqscreen">
                <div class="frequsers">
                    <div class="userpfp vcenter"><img src="./../../static/css/images/Sunset.png" alt="pfp"></div>
                    <div class="vcenter">USERNAME</div>
                    <div class="vcenter">MONEY</div>
                </div>   
            </div> 
        </div>
    </div>
</body>
</html>