@import url(https://fonts.googleapis.com/css?family=Rosario:400&subset=latin,latin-ext);
body {
    box-sizing: border-box;
    padding: 15px;
    margin: 15px;
    background: url("images/Sunset.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffff;
    font-family: 'Rosario';
}

.nav-item {
    font-size: 30px;
    margin-right: 20px;
    margin-left: 10px;
    display: inline;
}
.description{
    margin-left: 10%;
    margin-right: 10%;
}
#title{
    font-size: 50px;
}

#summary{
    font-size: 20px;
}
.color {
    text-decoration: none;
    color: #ffff;
}