@import url(https://fonts.googleapis.com/css?family=Rosario:400&subset=latin,latin-ext);
body {
    box-sizing: border-box;
    padding: 15px;
    margin: 15px;
    background: url("images/Sunset.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffff;
    font-family: 'Rosario';
}

.nav-item {
    font-size: 30px;
    margin-right: 20px;
    margin-left: 10px;
    display: inline;
}

.color {
    text-decoration: none;
    color: #ffff;
}

.center {
    position: relative;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
}
#main-name {
    font-size: 70px;
}

#desc{
    margin-top: -35px;
    margin-bottom: 20%;
    font-size: 20px;
}

#discover {
    margin-top: 10%;
    border:aliceblue;
    padding: 10px 50px;
    font-size: 20px;
    color: #fff;
    border-radius: 150px;
    background-color: rgb(0 25 220 / 70%);

}

#discover:hover {
    cursor: pointer;
    background-color: #0019dc;
}