<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./../../static/css/signup.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TipShip Signup</title>
</head>
<body>
    <nav>
        <h3 class="nav-item" id="home"><a href="/" class = "color">Home</a></h3>
        <h3 class="nav-item"><a href="/about" class = "color">About</a></h3>
    </nav>
    <form action="" method="POST" class="form-box">
        <div>
            <br>
            <h1 id="title-desc">TipShip</h1>
            <p id="login-desc">Create an account!</p>
            <input type="text" placeholder="Username">
            <br>
            <input type="text" placeholder="Password">
            <br>
            <input type="text" placeholder="Confirm Password">
            <br>
            <input type="submit" name="signup" value="Sign Up" id="submit">
            <a href="/login" class="link">Login to Account</a>
            <br>
        </div>
    </form>
</body>
</html>